@import '../../styles/variables';
@import '../../styles/typography';

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20px 0 0;
    box-shadow: 0px 2px 5px rgba(176, 190, 197, 0.3);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    align-items: center;
}

.header__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
    padding: 0 0 0 200px;
    margin: 0;
    justify-content: flex-start;
}

.header__list-item {
    display: flex;
    font-family: $font-h3-regular;
    font-size: 20px;
    line-height: 60px;
    color: $color-black-500;
    cursor: pointer;
    text-decoration: none;
    height: 60px;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    margin: 0 50px 0 0;
    transition: transform 0.05s ease, font-size 0.05s ease;

    &:last-child {
        margin: 0;
    }

    &:hover {
        border-bottom: 2px solid $color-black-300;
        transform: translateY(2px) scale(1.03);
    }

    &.active {
        border-bottom: 2px solid $color-black-500;
        color: $color-black-900;
    }
}

.header__button-booking {
    background-color: transparent;
    text-align: center;
    border: 1px solid $color-darkOrange;
    display: flex;
    width: 150px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-size: contain;
    cursor: pointer;
    border-radius: 6px;
    color: $color-darkOrange;
    justify-content: center;
    align-items: center;
    font-family: $font-body2-medium;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    transition: background-color 0.1s ease, color 0.3s ease;

    &:hover {
        background-color: $color-darkOrange;
        color: #fff;

        .header__button-caret {
            content: url('../../assets/priderys/arrowDownWhite.svg');
        }
    }
}

.header__button-caret {
    content: url('../../assets/priderys/arrowDownOrange.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 8px;
    display: flex;
    padding: 2px 9px 0 0;
}
