@import '../../styles/variables';
@import '../../styles/typography';

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    // box-shadow: 0px 2px 5px rgba(176, 190, 197, 0.3);
    box-sizing: border-box;
    align-items: center;
}

.header__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

.header__container_content_button {
    display: flex;
}

.header__list-item {
    display: flex;
    font-family: $font-h3-regular;
    font-size: 20px;
    line-height: 40px;
    color: $color-black-500;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    margin: 0 50px 0 0;
    transition: transform 0.05s ease, font-size 0.05s ease;

    &:last-child {
        margin: 0;
    }

    &:hover {
        border-bottom: 1px solid $color-black-300;
        transform: translateY(2px) scale(1.03);
    }

    &.active {
        border-bottom: 1px solid $color-black-500;
        color: $color-black-900;
    }
}

.header__button-booking {
    background-color: transparent;
    border: none;
    text-align: center;
    display: flex;
    width: 250px;
    height: 35px;
    padding: 0;
    margin: 0;
    background-size: contain;
    cursor: pointer;
    font-family: $font-h3-regular;
    font-size: 20px;
    line-height: 24px;
    color: $color-black-500;
    justify-content: center;
    align-items: center;
    transition: transform 0.05s ease, font-size 0.05s ease;

    &:hover {
        transform: translateY(2px) scale(1.03);
    }
}

.header__button-booking--active {
    border: 2px solid $color-black-500;
    border-radius: 6px;
}


.header__button-caret {
    content: url('../../assets/priderys/arrowDownGrey.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 7px;
    display: flex;
    padding: 0 6px 0 0;
    transition: transform 0.3s ease-in-out; 
}

.header__button-caret--up {
    transform: rotateX(180deg);
}