@import '../../styles/variables';
@import '../../styles/typography';

.news {
    padding: 60px 0 0 0;
    display: flex;
}

.news__container {
    display: flex;
    margin: 0 auto;
}

.news__title {
    font-family: $font-h3-regular;
    display: flex;
    padding: 100px 0 0 0;
    margin: 0;
}